#!/usr/bin/make -f
#export DH_VERBOSE=1

# Debian Policy 10.1
CPP = /usr/bin/g++
CPPFLAGS = -O2 -g -Wall
INSTALL = install -s

%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	# see bug #673254
	#dh_autoreconf --sourcedirectory=jasper-1.900.1-6ct -- -i --force
	(cd jasper-1.900.1-6ct && autoreconf -i --force)
	dh_auto_configure --sourcedirectory=jasper-1.900.1-6ct -- --disable-libjpeg
	dh_auto_configure --sourcedirectory=jpeg-6c

jasper-1.900.1-6ct/src/libjasper/.libs/libjasper.a:
	$(MAKE) -C jasper-1.900.1-6ct

jpeg-6c/libjpeg.a:
	$(MAKE) -C jpeg-6c

dgate: jpeg-6c/libjpeg.a jasper-1.900.1-6ct/src/libjasper/.libs/libjasper.a
	g++ $(CPPFLAGS) $(CXXFLAGS) -Ijasper-1.900.1-6ct/src/libjasper/include -Ijpeg-6c -I/usr/include/lua5.1 -DUNIX -DNATIVE_ENDIAN=1 -DHAVE_LIBJASPER -DHAVE_LIBJPEG -DUSESQLITE -Wno-write-strings total.cpp -o dgate -lpthread -llua5.1 -lsqlite3 jpeg-6c/libjpeg.a jasper-1.900.1-6ct/src/libjasper/.libs/libjasper.a -Wno-multichar $(LDFLAGS)

dgate.1: dgate
	./debian/make-manpage

override_dh_auto_build: dgate.1
	cp dicom.ini.sqlite dicom.ini
	cp dicom.sql.sqlite dicom.sql

override_dh_install:
	# DICOM Server:
	dh_install dgate        usr/bin/
	dh_install dgate.dic    etc/conquest-dicom-server/
	dh_install dicom.sql    etc/conquest-dicom-server/
	dh_install dicom.ini    etc/conquest-dicom-server/
	dh_install acrnema.map  etc/conquest-dicom-server/
	dh_install dgatesop.lst etc/conquest-dicom-server/

override_dh_auto_clean:
	#dh_autoreconf_clean --sourcedirectory=jasper-1.900.1-6ct
	(cd jasper-1.900.1-6ct && ($(MAKE) distclean || echo "Already clean"))
	(cd jpeg-6c && ($(MAKE) distclean || echo "Already clean"))

override_dh_clean:
	-rm dgate
	#dh_clean dicom.ini
	#dh_clean dicom.sql
	# autoreconf ?
	dh_clean jasper-1.900.1-6ct/config.log
	dh_clean jasper-1.900.1-6ct/config.status
	dh_clean jpeg-6c/config.log
	dh_clean jpeg-6c/config.status

get-orig-source:
	./debian/get-orig-source
