#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --parallel

jpeg-6c/libjpeg.a:
	cd jpeg-6c/
	./configure
	make

dgate: jpeg-6c/libjpeg.a
	g++ $(CPPFLAGS) $(CXXFLAGS) -Ijpeg-6c -I/usr/include/lua5.1 -DUNIX -DNATIVE_ENDIAN=1 -DHAVE_LIBJASPER -DHAVE_LIBJPEG -DUSESQLITE -Wno-write-strings total.cpp -o dgate -lpthread -ldl -ljasper -llua5.1 -lsqlite3 jpeg-6c/libjpeg.a -Wno-multichar $(LDFLAGS)

override_dh_auto_build: dgate
	cp dicom.ini.sqlite dicom.ini
	cp dicom.sql.sqlite dicom.sql
	#sudo cp dgate /usr/lib/cgi-bin
	#sudo cp dicom.sql /usr/lib/cgi-bin
	#sudo cp dicom.ini.www /usr/lib/cgi-bin/dicom.ini
	#sudo cp sample.cq /usr/lib/cgi-bin
	#
	#sudo cp ActiveFormProj1.ocx /var/www
	#sudo cp conquest.jpg /var/www

get-orig-source:
	./debian/get-orig-source
